---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<div class="talk-list">
  {% for post in site.talks reversed %}
    <div class="talk-item">
      <h3 class="talk-item__title">{{ post.title }}</h3>
      <div class="talk-item__meta">
        {% if post.venue and post.venue != '' %}
          <span class="pub-badge pub-badge--venue">{{ post.venue }}</span>
        {% endif %}
        {% if post.location and post.location != '' %}
          <span class="pub-badge pub-badge--year"><i class="fas fa-location-dot" style="margin-right: 4px;"></i>{{ post.location }}</span>
        {% endif %}
        {% if post.date %}
          <span class="pub-badge pub-badge--year">{{ post.date | date: "%B %Y" }}</span>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>